---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FDlAqfSUji69F3YuVAHSoWxWE0grR8aYSkb2OocVCNBw&client_id=367225507767-119uvbhdadqbft2kn4759rodoiivksn9.apps.googleusercontent.com&client_secret=1yX7HzuzWi3yD1OqJ21ZgpSS
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.QgAFK5QrFhLCIB8AAABfqjxL7sQjl5zVnL-YlD_fcUxIutL1k_KUFTr1NDwqCA",
          "token_type" : "Bearer",
          "expires_in" : 3600,
          "id_token" : "eyJhbGciOiJSUzI1NiIsImtpZCI6IjBjODk2NjU5OWE3Zjc0ZTU3Yjc2MGRkZWE2MGUwZGMxMjRmMjE1YTMifQ.eyJpc3MiOiJhY2NvdW50cy5nb29nbGUuY29tIiwiaWQiOiIxMTY4MTc0NzkyNTg0MjY4ODk3MDkiLCJzdWIiOiIxMTY4MTc0NzkyNTg0MjY4ODk3MDkiLCJhenAiOiIzNjcyMjU1MDc3NjctMTE5dXZiaGRhZHFiZnQya240NzU5cm9kb2lpdmtzbjkuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJlbWFpbCI6InBhbmthamJhc25hbDE3QGdtYWlsLmNvbSIsImF0X2hhc2giOiItSVVuNzJyVWU5N252a0txcHdJQ0VBIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF1ZCI6IjM2NzIyNTUwNzc2Ny0xMTl1dmJoZGFkcWJmdDJrbjQ3NTlyb2RvaWl2a3NuOS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInRva2VuX2hhc2giOiItSVVuNzJyVWU5N252a0txcHdJQ0VBIiwidmVyaWZpZWRfZW1haWwiOnRydWUsImNpZCI6IjM2NzIyNTUwNzc2Ny0xMTl1dmJoZGFkcWJmdDJrbjQ3NTlyb2RvaWl2a3NuOS5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsImlhdCI6MTQwNTM0MDg5OCwiZXhwIjoxNDA1MzQ0Nzk4fQ.VaoYUEGoMU5Bteicpf1gXg9V6HJBa0RanBwlCFs2n4iL04eGUmP3MPHsFNF5asSKAo5HaWV3X962RE5eYdGwUon2wjJ7k_E3KkA_py9zXBnOIZ5pDAFlyDAVi4SihsxZ5h6DrcmucrDqE7HD5ry4xc7oFvuBqJJpCZG339um_RY"
        }
  recorded_at: Mon, 14 Jul 2014 12:33:19 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.QgAFK5QrFhLCIB8AAABfqjxL7sQjl5zVnL-YlD_fcUxIutL1k_KUFTr1NDwqCA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 11 Jul 2014 09:41:23 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full</id><updated>2014-07-11T09:41:23.890Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>namecollection</title><link rel='alternate' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full'/><author><name>pankajbasnal17</name><email>pankajbasnal17@gmail.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full/od6</id><updated>2014-07-11T09:41:23.890Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet1</title><content type='text'>Sheet1</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/gviz/tq?gid=0'/><link
        rel='http://schemas.google.com/spreadsheets/2006#exportcsv' type='text/csv'
        href='https://docs.google.com/spreadsheets/d/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/export?gid=0&amp;format=csv'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/private/full/od6/-u3c64j'/><gs:colCount>26</gs:colCount><gs:rowCount>1001</gs:rowCount></entry></feed>"
  recorded_at: Mon, 14 Jul 2014 12:33:19 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1g2JX-w0XtcWD7yZo-K3cSHs7PhycCwhaYYmwajsLIwE/od6/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.QgAFK5QrFhLCIB8AAABfqjxL7sQjl5zVnL-YlD_fcUxIutL1k_KUFTr1NDwqCA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets//private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.QgAFK5QrFhLCIB8AAABfqjxL7sQjl5zVnL-YlD_fcUxIutL1k_KUFTr1NDwqCA
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Chromium-Appcache-Fallback-Override:
      - disallow-fallback
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: Invalid request URI
  recorded_at: Tue, 15 Jul 2014 05:47:35 GMT
recorded_with: VCR 2.9.2
