!!!
%html
  %body
    %p
      {
        "filters" : {
        "template" : {
        "settings" : 1,
        "text/html" : "
      = succeed "\"" do
        %div{bgcolor: "#FFF", style: "width:200px"}
          - body
