= simple_form_for (@newsletter) do |news|
  .inputs
    = news.text_area :content, :placeholder => "Input here..", :class => "redactor", :rows => 60, :cols => 60
    = news.button :submit, class: "btn btn-primary"


