%a.pull-right{href: "#{sendmailer_path}"}
  %button.btn.btn-danger
    Send Mail
%table.table.table-striped
  %tr
    %h4
      %strong Newsletters
  -@newsletters.each do |news|
    %tr
      %td
        =link_to news.sent_on, newsletter_path(news)
