%div.pull-right{'z-index' => 3452345}
  = link_to "Send Mail", sendmailer_path, class: "btn btn-danger", :data => { :confirm => 'Are you sure?'}
  = link_to "Test Mail", testmail_path, class: "btn btn-success"
%h4
  %strong Newsletters
%table.table
  -count=3
  -@newsletters.each do |newsletter|
    -if count > 2
      -count=0
      %tr
    %td
      %center
        %a.link{href: "#{newsletter_path(newsletter)}" }
          %div.tile.thumbnail
            %img{src: "images/1.jpg"}
            %div.cap
              %h4
                %center
                  =newsletter.sent_on.strftime("%B %Y")
    -count+=1

