%div.pull-right{'z-index' => 3452345}
  %a{href: "#{sendmailer_path}"}
    %button.btn.btn-danger
      Send Mail
  %a{href: "#{testmail_path}"}
    %button.btn.btn-success
      Test Mail
%h4
  %strong Newsletters
%hr
%table.table  
  -count=3
  -@newsletters.each do |newsletter|    
    -if count > 2
      -count=0
      %tr
    %td
      .tile
        %a.link{href: "#{newsletter_path(newsletter)}" }
          %div.thumbnail
            %img{src: "images/1.jpg"}
              %div.cap
                %h4 
                %center
                  =newsletter.sent_on.strftime("%B %Y")
    -count+=1
