= simple_form_for (@user), html: {role: 'form', class: 'form-horizontal'} do |f|
  %table
    %tr
      %td
        = f.input :email_id, input_html:{class: 'span2'}
        = f.input :username
        = f.button :submit, class: "btn btn-success"
  
