= render 'light/newsletters/top_navbar'

= form_tag users_import_path , multipart: true, role: 'form', class: 'form-horizontal' do |file|
  %h3 Import Opt-In Users
  .row
    .span2
    .span2
      %label.control-label Import Opt-in Users :
    .span4
      = file_field_tag :file
  %br
  .row
    .pull-right.span7= submit_tag 'Import CSV', class: 'btn btn-success'
