= render 'light/newsletters/top_navbar'
%table#stream_table.table.table-striped 
  %thead
    %tr
      %th
        %strong 
          = "#"
      %th
        %strong
          User's Email Id 
      %th{data: {sort: "username:asc"}}
        %strong
          Username
      %th
        %strong
          Edit
      %th
        %strong
          Delete
  %tbody

    %script#template{:type => "x-tmpl-mustache"}
      
      {{#record}}
      %tr{class: "{{str}}"}
        %td {{index}}
        %td
          %a{ :href => "/newsletter/users/{{_id.$oid}}"} {{email_id}}
        %td {{username}}
        %td
          %a{ :href => "/newsletter/users/{{_id.$oid}}/edit", :class => "btn btn-mini btn-success"} Edit

        %td
          %a{ :href => "/newsletter/users/{{_id.$oid}}", data:{ :confirm => 'Are you sure?', method: "delete"}, :class => "btn btn-mini btn-danger" } Delete
      {{/record}}
  

:javascript
  data = #{@users.to_json};
