%h2 
  %center
    = @message.html_safe
    %br
    - if @user.present? || dummy_token?
      Would you like to subscribe again?
      = link_to "CLICK HERE !!", main_app.users_subscribe_path(token: @user.try(:token) || params[:token])
