%center
  .panel.panel-primary
  .panel-heading 
    %h2
      = @newsletter.subject
      Test Mail
  .panel-body
    = form_for :email, as: :post, url: send_test_mail_newsletter_path(@newsletter) do |f|
      = f.text_area :email_id, placeholder: 'For multiple email ids - separate them by comma'
      %br
      = f.button :submit, class: "btn btn-success"
